<%= form_for(@vent_log) do |f| %>
  <% if @vent_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vent_log.errors.count, "error") %> prohibited this vent_log from being saved:</h2>

      <ul>
      <% @vent_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization %><br>
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :cv_sent %><br>
    <%= f.text_field :cv_sent %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <%= f.label :cv_version %><br>
    <%= f.text_field :cv_version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
