<p id="notice"><%= notice %></p>

<h1>Listing Vent Logs</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Contact</th>
      <th>Notes</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Source</th>
      <th>Cv sent</th>
      <th>Interest</th>
      <th>Cv version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vent_logs.each do |vent_log| %>
      <tr>
        <td><%= vent_log.organization %></td>
        <td><%= vent_log.contact %></td>
        <td><%= vent_log.notes %></td>
        <td><%= vent_log.phone %></td>
        <td><%= vent_log.email %></td>
        <td><%= vent_log.source %></td>
        <td><%= vent_log.cv_sent %></td>
        <td><%= vent_log.interest %></td>
        <td><%= vent_log.cv_version %></td>
        <td><%= link_to 'Show', vent_log %></td>
        <td><%= link_to 'Edit', edit_vent_log_path(vent_log) %></td>
        <td><%= link_to 'Destroy', vent_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vent log', new_vent_log_path %>
