<%= page_heading(@person.full_name, labels_for_status(@person.status)) %>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="col-sm-3">Email</th>
          <td class="col-sm-9"><%= mail_to @person.email %></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>
            <%= phone_to @person.phone %> -
            <%= sms_to @person.phone %>
          </td>
        </tr>
        <tr>
          <th>Organisation</th>
          <td><%= link_to @person.organisation.name, @person.organisation %></td>
        </tr>
        <tr>
          <th>LinkedIn Profile</th>
          <td><%= linkedin_to @person.linkedin_profile_url %></td>
        </tr>
        <tr>
          <th>Next Contact On</th>
          <td><%= @person.next_contact_on&.strftime('%-d %b %Y') %></td>
        </tr>
        <tr>
          <th>Source Of Contact</th>
          <td><%= @person.source_of_contact %></td>
        </tr>
        <tr>
          <th>CV Sent On</th>
          <td><%= @person.cv_sent_on&.strftime('%-d %b %Y') %></td>
        </tr>
        <tr>
          <th>CV Version</th>
          <td><%= @person.cv_version %></td>
        </tr>
      </tbody>
    </table>

    <br />

    <div class="btn-group">
      <%= link_to 'Edit', edit_person_path(@person), class: 'btn btn-success' %>
      <%= link_to 'Back', people_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
