<h1><%= @organisation.name %></h1>

<br />

<div class="row">
  <div class="col-sm-4">
    <strong>Postal address</strong>
  </div>
  <div class="col-sm-8">
    <%= @organisation.postal_address %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <strong>Phone</strong>
  </div>
  <div class="col-sm-8">
    <%= @organisation.phone %>
  </div>
</div>

<br />

<div class="btn-group">
  <%= link_to 'Edit', edit_organisation_path(@organisation), class: 'btn btn-success' %>
  <%= link_to 'Back', organisations_path, class: 'btn btn-success' %>
</div>
