<%= page_heading(@organisation.name) %>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="col-sm-3"><%= t('activerecord.attributes.organisations.postal_address') %></th>
          <td class="col-sm-9"><%= @organisation.postal_address %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.organisations.phone') %></th>
          <td>
            <%= phone_to @organisation.phone %> -
            <%= sms_to @organisation.phone %>
          </td>
        </tr>
      </tbody>
    </table>

  <br />

    <div class="btn-group">
      <%= link_to t('views.general.edit'), edit_organisation_path(@organisation), class: 'btn btn-success' %>
      <%= link_to t('views.general.back'), organisations_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-12">
    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#people" aria-controls="people" role="tab" data-toggle="tab"><%= t('activerecord.models.people.other') %></a></li>
      <li role="presentation"><a href="#opportunities" aria-controls="opportunities" role="tab" data-toggle="tab"><%= t('activerecord.models.opportunities.other') %></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="people">
        <%= render partial: 'people/people', locals: { people: @organisation.people } %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="opportunities">
        <%= render partial: 'opportunities/opportunities', locals: { opportunities: @organisation.opportunities } %>
      </div>
    </div>
  </div>
</div>
