<%= form_for(@admin_subscription_product, html: { class: 'form-horizontal' }) do |f| %>

  <% if @admin_subscription_product.errors.any? %>
    <%= render partial: 'layouts/form_errors', locals: { thing: @admin_subscription_product } %>
  <% end %>

  <%= f.hidden_field :lock_version %>

  <div class="form-group">
    <%= f.label :name, t('activerecord.attributes.admin_subscription_products.name'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, t('activerecord.attributes.admin_subscription_products.description'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="checkbox">
          <%= f.label :curriculum_vitae_limited do %>
              <%= f.check_box :curriculum_vitae_limited %>
              <%= t('activerecord.attributes.admin_subscription_products.curriculum_vitae_limited') %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :curriculum_vitae_limit, t('activerecord.attributes.admin_subscription_products.curriculum_vitae_limit'), class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.number_field :curriculum_vitae_limit, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="checkbox">
          <%= f.label :opportunity_limited do %>
              <%= f.check_box :opportunity_limited %>
              <%= t('activerecord.attributes.admin_subscription_products.opportunity_limited') %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :opportunity_limit, t('activerecord.attributes.admin_subscription_products.opportunity_limit'), class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.number_field :opportunity_limit, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="checkbox">
          <%= f.label :organisation_limited do %>
              <%= f.check_box :organisation_limited %>
              <%= t('activerecord.attributes.admin_subscription_products.organisation_limited') %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :organisation_limit, t('activerecord.attributes.admin_subscription_products.organisation_limit'), class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.number_field :organisation_limit, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="checkbox">
          <%= f.label :person_limited do %>
              <%= f.check_box :person_limited %>
              <%= t('activerecord.attributes.admin_subscription_products.person_limited') %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :person_limit, t('activerecord.attributes.admin_subscription_products.person_limit'), class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.number_field :person_limit, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <%= f.submit t('views.general.save'), class: 'btn btn-success'%>
        <%= t('views.general.or') %>
        <%= link_to t('views.general.cancel'), admin_subscription_plans_path %>
      </div>
    </div>
<% end %>
