<%= page_heading(@user.full_name) %>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="col-sm-3"><%= t('activerecord.attributes.users.full_name') %></th>
          <td class="col-sm-9"><%= @user.full_name %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.users.email') %></th>
          <td><%= mail_to @user.email %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.users.mobile_number') %></th>
          <td><%= phone_to @user.mobile_number %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.users.admin_subscription_product_id') %></th>
          <td><%= link_to @user.admin_subscription_product.name, @user.admin_subscription_product %></td>
        </tr>
      </tbody>
    </table>

    <br />

    <div class="col-xs-6">
      <div class="btn-group">
        <%= link_to t('views.general.edit'), edit_user_path(@user), class: 'btn btn-success' %>
        <%= link_to t('views.general.back'), users_path, class: 'btn btn-success' %>
      </div>
    </div>
    <div class="col-xs-6 text-right">
      <% if current_user.id == @user.id %>
        <%= link_to 'Change Password', new_password_change_path, class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
</div>
