<%= form_for(@opportunity, html: { class: 'form-horizontal' }) do |f| %>
  <% if @opportunity.errors.any? %>
    <%= render partial: 'layouts/form_errors', locals: { thing: @opportunity } %>
  <% end %>

  <div class="form-group">
    <%= f.label :organisation, t('activerecord.attributes.opportunities.organisation'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.collection_select :organisation_id, @organisations, :id, :name, {}, { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :person, t('activerecord.attributes.opportunities.person'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.collection_select :person_id, @people, :id, :full_name, {},{ class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :job_title, t('activerecord.attributes.opportunities.job_title'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :job_title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :job_description, t('activerecord.attributes.opportunities.job_description'),class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :job_description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category, t('activerecord.attributes.opportunities.category'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :category, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.submit t('views.general.save'), class: 'btn btn-success'%>
      <%= t('views.general.or') %>
      <%= link_to t('views.general.cancel'), opportunities_path %>
    </div>
  </div>

<% end %>

<script>
  var people = <%= raw(sanitize(@people.map { |person| { id: person.id, name: person.full_name, organisation_id: person.organisation_id } }.to_json, tags: [])) %>;
  var peopleSelectTag = $("#opportunity_person_id");

  function refreshPeople(orgId) {
    var results = "";
    for (var i = 0; i < people.length; i++) {
      var person = people[i];
      if (person.organisation_id == orgId) {
        results += "<option value='" + person.id + "'>" + person.name + "</option>"
      }
    }
    peopleSelectTag.html(results);
  }

  $(document).on("ready", function() {
    refreshPeople($("#opportunity_organisation_id").val());
    $("#opportunity_organisation_id").on("change", function() {
      refreshPeople($(this).val());
    });
  });
</script>
