<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.opportunities.organisation') %></th>
        <th><%= t('activerecord.attributes.opportunities.person') %></th>
        <th><%= t('activerecord.attributes.opportunities.job_title') %></th>
        <th><%= t('activerecord.attributes.opportunities.job_description') %></th>
        <th><%= t('activerecord.attributes.opportunities.category') %></th>
        <th><%= t('activerecord.attributes.opportunities.updated') %></th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% opportunities.each do |opportunity| %>
          <tr>
            <td><%= link_to opportunity.organisation.name, opportunity.organisation %></td>
            <td><%= link_to opportunity.person.full_name, opportunity.person %></td>
            <td><%= link_to opportunity.job_title, opportunity %></td>
            <td><%= link_to opportunity.job_description, opportunity %></td>
            <td><%= opportunity.category %></td>
            <td><%= opportunity.updated_at.strftime('%-d %b %Y, %H:%M') %></td>
            <td>
              <%= link_to edit_opportunity_path(opportunity) do %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              <% end %>
            </td>
            <td>
              <%= link_to opportunity, method: :delete, data: { confirm: I18n.t('views.general.are_you_sure') } do %>
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
