<h1>Opportunities</h1>

<table class="table">
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Person</th>
      <th>Job title</th>
      <th>Job description</th>
      <th>Category</th>
      <th>Updated</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @opportunities.each do |opportunity| %>
      <tr>
        <td><%= link_to opportunity.organisation.name, opportunity.organisation %></td>
        <td><%= link_to opportunity.person.full_name, opportunity.person %></td>
        <td><%= link_to opportunity.job_title, opportunity %></td>
        <td><%= link_to opportunity.job_description, opportunity %></td>
        <td><%= opportunity.category %></td>
        <td><%= opportunity.updated_at.strftime('%-d %b %Y, %H:%M') %></td>

        <td>
          <%= link_to edit_opportunity_path(opportunity) do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <%= link_to opportunity, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </td>


      </tr>
    <% end %>
  </tbody>
</table>

<br />

<div class="btn-group">
  <%= link_to 'New Opportunity', new_opportunity_path, class: 'btn btn-success'%>
</div>