<h1><%= @opportunity.organisation.name %></h1>

<br />

<div class="row">
  <div class="col-sm-4">
    <strong>Person</strong>
  </div>
  <div class="col-sm-8">
    <%= @opportunity.person.first_name %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <strong>Job title</strong>
  </div>
  <div class="col-sm-8">
    <%= @opportunity.job_title %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <strong>Job description</strong>
  </div>
  <div class="col-sm-8">
    <%= @opportunity.job_description %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <strong>Category</strong>
  </div>
  <div class="col-sm-8">
    <%= @opportunity.category %>
  </div>
</div>

<br />

<div class="btn-group">
  <%= link_to 'Edit', edit_opportunity_path(@opportunity), class: 'btn btn-success' %>
  <%= link_to 'Back', opportunities_path, class: 'btn btn-success' %>
</div>
