<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cache Creek</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <% if current_user %>
        <ul class="nav navbar-nav">
          <li class="<%= controller_name == 'opportunities' ? 'active' : '' %>"><%= link_to t('activerecord.models.opportunities.other'), opportunities_path %></li>
          <li class="<%= controller_name == 'organisations' ? 'active' : '' %>"><%= link_to t('activerecord.models.organisations.other'), organisations_path %></li>
          <li class="<%= controller_name == 'people' ? 'active' : '' %>"><%= link_to t('activerecord.models.people.other'), people_path %></li>
          <li class="<%= controller_name == 'curriculum_vitaes' ? 'active' : '' %>"><%= link_to t('activerecord.models.curriculum_vitae.abbreviation'), curriculum_vitaes_path %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-info">Go!</button>
          </form>
          <% if current_user.admin_access %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Users', users_path %></li>
                <li><%= link_to 'Subscription Products', admin_subscription_products_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'My Profile', my_profile_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Sign out', current_user_session, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_sign_up_path %></li>
        <% end %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
